<!-- This code is made by Anneshu Nag, Student ID: 2210994760 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artefacts</title>
    <link rel="stylesheet" href="/stylesheets/artefacts.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-favicon.png">

</head>

<body>
    <div class="navbar">
        <% if (req.isAuthenticated()) { %>
            <a href="/users/profile" class="links"><ion-icon name="person-circle-outline"></ion-icon>
                <p>
                    <%=user.username%>
                </p>
            </a>
            <a href="/users/searchuser" class="links"> <ion-icon name="search-outline"></ion-icon>
                <p>Search</p>
            </a>
            <a href="/logout" class="links"><ion-icon name="log-out-outline"></ion-icon>
                <p>Logout</p>
            </a>
    </div>
    <% } else { %>
        <a href="/login" class="links"><ion-icon name="log-in-outline"></ion-icon>
            <p>Login</p>
        </a>
        <% } %>
            </div>
            <div class="container">
                <% posts.forEach(post=> { %>
                    <div class="card">
                        <div  onclick="location.href='/posts/post/<%= post._id %>'" style="cursor: pointer;">

                            <div class="image-container">
                                <h3>
                                    <%=post.user.username%>
                                </h3>
                                <img src="/images/uploads/<%= post.image %>" alt="Profile Image" />
                                <p class="text-center">
                                    <%= post.imageText %>
                                </p>
                                <p class="text-center">
                                    <%= post.imageDescription ? post.imageDescription : "No description added by user." %>
                                </p>
                                
                                <p class="text-center">
                                    <% if (post.likes && post.likes.length> 0) { %>
                                    <%= post.likes.length %>
                                    <%= post.likes.length===1 ? 'like' : 'likes' %>
                                    <% } else { %>
                                        0 likes
                                        <% } %>
                                    </p>
                                </div>
                            <% if (req.isAuthenticated()) { %>
                                <div class="flex">
                                    <form action="/posts/like/<%= post._id %>" method="POST">
                                        <button class="likebutton" type="submit">
                                            <% if (post.likes.includes(user._id)) { %>
                                                Dislike
                                                <% } else { %>
                                                    Like
                                                    <% } %>
                                        </button>
                                    </form>

                                </div>
                                <% } else { %>
                                    <a href="/login" id="login">Login to like</a>
                                    <% } %>

                        </div>
                    </div>
                    <% }) %>
            </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>
