<!-- This code is made by Anneshu Nag, Student ID: 2210994760 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts</title>
    <link rel="stylesheet" href="/stylesheets/artefacts.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-favicon.png">

</head>

<body>
    <div class="navbar">
        <% if (req.isAuthenticated()) { %>
            <a href="/users/profile" class="links"><ion-icon name="person-circle-outline"></ion-icon>
                <p>
                    <%=user.username%>
                </p>
            </a>
            <a href="/users/searchuser" class="links"> <ion-icon name="search-outline"></ion-icon>
                <p>Search</p>
            </a>
            <a href="/logout" class="links"><ion-icon name="log-out-outline"></ion-icon>
                <p>Logout</p>
            </a>
    </div>
    <% } else { %>
        <a href="/login" class="links"><ion-icon name="log-in-outline"></ion-icon>
            <p>Login</p>
        </a>
        <% } %>
            </div>
            <div class="container">
                <% facts.forEach(fact=> { %>
                    <div class="card">
                        <div onclick="location.href='/facts/fact/<%= fact._id %>'" style="cursor: pointer;">

                            <div class="image-container">
                                <h3>
                                    <%=fact.user.username%>
                                </h3>
                                <p class="text-center">
                                    <%= fact.factText %>
                                </p>
                                <p class="text-center">
                                    <%= fact.factDescription ? fact.factDescription : "No description added by user." %>
                                </p>
                                <p class="text-center">
                                    <% if (fact.likes && fact.likes.length> 0) { %>
                                        <%= fact.likes.length %>
                                            <%= fact.likes.length===1 ? 'like' : 'likes' %>
                                                <% } else { %>
                                                    0 likes
                                                    <% } %>
                                </p>
                            </div>
                                <% if (req.isAuthenticated()) { %>
                                    <div class="flex">
                                        <form action="/facts/likefact/<%= fact._id %>" method="POST">
                                            <button class="likebutton" type="submit">
                                                <% if (fact.likes.includes(user._id)) { %>
                                                    Dislike
                                                    <% } else { %>
                                                        Like
                                                        <% } %>
                                                    </button>
                                                </form>
                                            </div>
                                <% } else { %>
                                    <a href="/login" id="login">Login to like</a>
                                    <% } %>
                        </div>
                    </div>
                    <% }) %>
            </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>