<!-- This code is made by Anneshu Nag, Student ID: 2210994760 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=user.username%>
  </title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <script src="/javascripts/switchPost.js" type="text/javascript"></script>

  <style>

  </style>
</head>

<body>
  <div class="navbar">
    <div class="nav-item">
      <a href="/users/searchuser" class="links"> <ion-icon name="search-outline"></ion-icon>
        <p>Search</p>
      </a>
      <a href="/posts/artefacts" class="links"><ion-icon name="telescope-outline"></ion-icon></ion-icon>
        <p>Artefacts</p>
      </a>
      <a href="/facts/explorefacts" class="links"><ion-icon name="telescope-outline"></ion-icon></ion-icon>
        <p>Facts</p>
      </a>
      <div class="links" id="userToggle">
        <ion-icon name="person-circle-outline"></ion-icon>
        <h3>
          <%=user.username%>
        </h3>
      </div>
    </div>
    <div class="dark-mode">
      <label class="ui-switch">
        <input type="checkbox">
        <div class="slider">
          <div class="circle"></div>
        </div>
      </label>
    </div>
  </div>

  <div class="main">
    <div id="identity-container">
      <div class="heading">
        <h2>IDENTITY</h2>
        <h5 id="close">Close</h5>
      </div>
      <img src="<%=user.dp%>" class="dp" alt="">
      <div class="info-item">
        <strong>Name:</strong>
        <%=user.username%>
      </div>
      <div class="info-item">
        <strong>Email:</strong>
        <%=user.email%>
      </div>
      <div class="info-item">
        <strong>Full Name:</strong>
        <%=user.fullname%>
      </div>
      <div class="info-item">
        <strong>Posts:</strong>
        <%=user.posts.length %>
      </div>
      <div class="info-item">
        <strong>Facts:</strong>
        <%=user.facts.length %>
      </div>
      <div class="info-item flex">
        <button id="logout-btn" onclick="window.location.href='/logout'">Logout</button>
      </div>
    </div>

  <label for="uploadType" class="upload-label">Choose upload type:</label>
<select id="uploadType" name="uploadType" class="upload-select">
  <option value="image">Artefact</option>
  <option value="text">Fact</option>
</select>

<div id="imageUpload" class="uploadSection">
  <form id="fileform" action="/posts/upload" enctype="multipart/form-data" method="post">
    <input type="text" placeholder="Write caption!!" name="filecaption" class="input-field">
    <input type="file" name="file" class="input-field">
    <input type="submit" value="Upload" class="submit-btn">
  </form>
</div>

<div id="textUpload" class="uploadSection" style="display: none;">
  <form id="fileform" action="/facts/uploadfact" method="post">
    <input type="text" placeholder="Write caption!!" name="factText" class="input-field">
    <input type="submit" value="Upload" class="submit-btn" onclick="showLoader()">
    <div id="loader" style="display: none;">Uploading...</div>
     
  </form>
</div>


  <div class="card-image">
    <% user.posts.forEach(post=> { %>
      <div class="card">
        <div class="card-header">
          <img src="/images/uploads/<%= post.image %>" alt="Profile Image" />
          <p class="image-caption">
            <%= post.imageText %>
          </p>
        </div>
        <div class="card-footer">
          <p>
            <% if (post.likes && post.likes.length> 0) { %>
              <%= post.likes.length %>
                <%= post.likes.length===1 ? 'like' : 'likes' %>
                  <% } else { %>
                    0 likes
                    <% } %>
          </p>
        </div>
        <div class="card-body">
          <div class="flex">
            <form action="/posts/like/<%= post._id %>" method="POST">
              <button class="button" type="submit">
                <% if (post.likes.includes(user._id)) { %>
                  Dislike
                  <% } else { %>
                    Like
                    <% } %>
              </button>
            </form>
            <form action="/posts/deletepost/<%= post._id %>" method="POST">
              <button class="button" type="submit">Delete</button>
            </form>
          </div>
          <form action="/posts/post/<%=post.id%>" method="get">
            <input type="submit" value="Read More">
          </form>
        </div>
      </div>
      <% }); %>
  </div>

  <div class="card-image">
    <% user.facts.forEach(fact=> { %>
      <div class="card">
        <div class="card-header">
          <p class="image-caption">
            <%= fact.factText %>
          </p>
        </div>
        <div class="card-footer">
          <p>
            <% if (fact.likes && fact.likes.length> 0) { %>
              <%= fact.likes.length %>
                <%= fact.likes.length===1 ? 'like' : 'likes' %>
                  <% } else { %>
                    0 likes
                    <% } %>
          </p>
        </div>
        <div class="card-body">
          <div class="flex">
            <form action="/facts/likefact/<%= fact._id %>" method="POST">
              <button class="button" type="submit">
                <% if (fact.likes.includes(user._id)) { %>
                  Dislike
                  <% } else { %>
                    Like
                    <% } %>
              </button>
            </form>
            <form action="/facts/deletefact/<%= fact._id %>" method="POST">
              <button class="button" type="submit">Delete</button>
            </form>
          </div>
          <form action="/facts/fact/<%=fact.id%>" method="get">
            <input type="submit" value="Read More">
          </form>
        </div>
      </div>
      <% }); %>
  </div>


  </div>
  </div>
  </div>

  <script>
    const darkModeSwitch = document.querySelector('.ui-switch input');
    const body = document.body;

    darkModeSwitch.addEventListener('change', () => {
      if (darkModeSwitch.checked) {
        body.classList.add('dark-mode-enabled');
      } else {
        body.classList.remove('dark-mode-enabled');
      }
    });


    document.getElementById('userToggle').addEventListener('click', function () {
      document.getElementById('identity-container').style.transform = 'translateX(0%)';
    });
    document.getElementById('close').addEventListener('click', function () {
      document.getElementById('identity-container').style.transform = 'translateX(100%)';
    });
  </script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>