<!-- This code is made by Anneshu Nag, Student ID: 2210994760 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=user.username%>
  </title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
  <div class="navbar">
    <a href="/users/searchuser" class="links"> <ion-icon name="search-outline"></ion-icon>
      <p>Search</p>
    </a>

    <a href="/posts/all-posts" class="links"><ion-icon name="telescope-outline"></ion-icon></ion-icon>
      <p>Posts</p>
    </a>
    
    <div class="links" id="userToggle">
      <ion-icon name="person-circle-outline"></ion-icon>
      <h3>
        <%=user.username%>
      </h3>
    </div>
  </div>

  <div class="main">
    <div id="identity-container">
      <div class="heading">
        <h2>IDENTITY</h2>
        <h5 id="close">Close</h5>
      </div>
      
      <img src="<%=user.dp%>" class="dp" alt="">
      <div class="info-item">
        <strong>Name:</strong>
        <%=user.username%>
      </div>
      
      <div class="info-item">
        <strong>Email:</strong>
        <%=user.email%>
      </div>
      
      <div class="info-item">
        <strong>Full Name:</strong>
        <%=user.fullname%>
      </div>
      
      <div class="info-item">
        <strong>Posts:</strong>
        <%=user.posts.length %>
      </div>
      
      <div class="info-item flex">
        <button id="logout-btn" onclick="window.location.href='/logout'">Logout</button>
      </div>
    </div>

    <p>Upload Post</p>
    <div id="imageUpload" class="uploadSection">
      <form id="fileform" action="/posts/upload" enctype="multipart/form-data" method="post">
        <input type="text" required placeholder="Write title!!" name="filecaption">
        <input type="text" placeholder="Write description (optional)" name="filedescription">
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
      </form>
    </div>
  </div>

  <div class="card-image">
    <% user.posts.forEach(post=> { %>
      <div class="card " style="padding-bottom: 4px;">
        <div onclick="location.href='/posts/post/<%= post._id %>'" style="cursor: pointer;">

          <div class="card-header" style="margin: 0px;">
            <img src="/images/uploads/<%= post.image %>" alt="Profile Image" />
            <p class="image-caption">
              <%= post.imageText %>
            </p>
            <p class="image-caption" style="margin: 0px;">
              <%= post.imageDescription ? post.imageDescription.substring(0, 100) : "No description added by user." %>
                <%= post.imageDescription && post.imageDescription.length> 100 ? '...' : '' %>
            </p>
          </div>
          
          <div class="card-footer">
            <p style="margin: 0px;">
              <% if (post.likes && post.likes.length> 0) { %>
                <%= post.likes.length %>
                  <%= post.likes.length===1 ? 'like' : 'likes' %>
                    <% } else { %>
                      0 likes
                      <% } %>
            </p>
          </div>
        </div>
        
        <div class="card-body">
          <div class="flex">
            <form action="/posts/like/<%= post._id %>" method="POST">
              <button class="button" type="submit">
                <% if (post.likes.includes(user._id)) { %>
                  Dislike
                  <% } else { %>
                    Like
                    <% } %>
              </button>
            </form>
            
            <form action="/posts/deletepost/<%= post._id %>" method="POST">
              <button class="button" type="submit">Delete</button>
            </form>
            
            <div class="flex">
              <button class="button" onclick="toggleUpdateForm('<%= post._id %>')">Update</button>
            </div>
          </div>
          
          <div id="update-form-<%= post._id %>" class="update-form" style="display: none;">
            <form action="/posts/updatepost/<%= post._id %>" method="POST">
              <input type="text" name="filecaption" placeholder="Update title" value="<%= post.imageText %>">
              <input type="text" name="filedescription" placeholder="Update description"
                value="<%= post.imageDescription %>">
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <script>
    document.getElementById('userToggle').addEventListener('click', function () {
      document.getElementById('identity-container').style.transform = 'translateX(0%)';
    });
    document.getElementById('close').addEventListener('click', function () {
      document.getElementById('identity-container').style.transform = 'translateX(100%)';
    });
  </script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>